@import 'base';
@import 'media-queries';
@import 'components/header/index.scss';
@import 'components/section-1/index.scss';
@import 'components/section-2/index.scss';
@import 'components/section-3/index.scss';
