.section-1 {

    img {
        width: 100%;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    h1 {
        font-size: 25px;
        font-weight: 400;
    }

    span {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }
}
