.section-1 {

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    h1 {
        font-size: 58.81px;
        font-weight: 400;
    }

    span {
        font-size: 71.77px;
    }

    p {
        font-size: 20.7px;
    }
}
