.section-2 {

    .wrapper {
        width: initial;

        .content {

            .content-img {
                margin-right: 20px;

                .comp {
                    width: 400px;
                }
            }

            .text-pc {
                width: 100%;
            }
        }
    }
}
