@import 'pallete';
@import 'reset';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    width: 100%;
    padding: 26px 0;
    background: $black;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 93%;
        margin: auto;

        .logo {
            display: flex;
            align-items: flex-end;

            #arry {
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-size: 36px;
                font-weight: 300;
            }

            &::before {
                content: url(/images/header/logo.png);
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            width: 700px;

            a {
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
            }
        }
    }
}
