.header {
    padding: 2px 0;

    .container {

        &::after {
            content: url(/images/header/menu.png);
        }

        .logo {
            padding: 0 0 20px;

            #arry {
                font-size: 27px;
            }
        }

        nav {
            display: none;
        }
    }
}
