.header {

    .container {

        &::after {
            content: url(/images/header/Menu\ Button.png);
        }

        .logo {
            padding: 0 0 20px;
        }

        nav {
            display: none;
        }
    }
}
